html {
  margin:0;
  padding:0;
}
body{
  margin:0;
  min-height:100vh;
  position: relative;
  text-align: center;
  background-color: lightgray;
  font-family:YuMinCho;
}
main {
  z-index:8000;
}
/*ヘッダー*/
header {
  margin:0;
  color:white;
  text-shadow:4px 4px 1px black;
  background-image: url(https://cdn.pixabay.com/photo/2017/02/27/18/28/japan-2103868_960_720.jpg);
  background-color: rgba(255,255,255,0.4);
  background-blend-mode: lighten;
  background-size:cover;
  height:100vh;
}
 /*温泉巡りタイトル*/ 
h1 {
  margin:0;
  font-size:60px;
  text-align: center;
  padding-top:100px;
 
}

/*メニュー*/
nav {
  margin:0 auto;
  padding:15px 0;
  text-align: center;
  font-size:25px;
  width:90%; 
}
.nav-wrapper {
  display:flex;
  flex-wrap: wrap
}
.nav-flex {
  flex:auto;
  width:35%;
  height:200px;
  position:relative;
  border:3px solid white;
  border-radius: 20px;
  background-size:cover;
  background-blend-mode: lighten;
  border-radius: 20px;
  background-position:center;
}
.nav-img1 {
  background-image: url(https://cdn.pixabay.com/photo/2013/03/01/18/29/clean-87636_960_720.jpg); 
  position:relative;

}
.nav-list1 {
  position:absolute;
  top:20px;
  right:70px;
  font-size:22px;
  display:none;
}
.nav-list {
  margin-bottom:5px;
}
.nav-img2 {
  background-image: url(https://cdn.pixabay.com/photo/2015/10/12/15/11/cafe-984275_960_720.jpg);
}
.nav-img3 {
  background-image: url(https://cdn.pixabay.com/photo/2017/03/14/04/37/autumnal-leaves-2141946_960_720.jpg);
}
.nav-img4 {
  background-image: url(https://cdn.pixabay.com/photo/2020/08/07/01/15/dice-5469511_960_720.jpg);
}
.menu {
  display:none;
}
.nav-menu {

  color:white;
  font-weight: bold;
  text-shadow: 3px 3px 0 black;
  position:absolute;
  top:80px;
  left:50px;
 }

/*aタグ*/
a {
  color:black;  
  text-decoration: none;
}
a:hover {
  opacity:0.6;

}

/*コンテンツタイトル（温泉一覧等）*/
h2 {
  padding-top:50px;
  margin:0;
  font-size:30px;
}
/*温泉一覧内のコンテンツタイトル（熱海温泉）*/
h3 {
  float:left;
  margin:0 0 0 20px;
  padding-top:40px;
}
/*温泉一覧*/
.onsen-list {
  height:100vh;
}
ul {
  padding:0;
  margin:15px auto;

}
.onsenn {
  padding-left:15px;
  padding-right:15px;
}

.onsen-wrapper {
  display:flex;
  flex-wrap:wrap;
  width:80%;
}
.onsen-wrapper li {
   background-color:white;
   width:40%;
   border-radius:20px;
   float:right;
   margin:25px auto;
      
 }
 li {
   list-style: none;
 }

 /*写真設定*/
img {
  padding-top:20px;
  padding-bottom:20px;
  width:55%;
}
/*周辺カフェ*/
.around-cafe {
  margin-bottom:100px;
}
.cafe-wrapper {
  background-color: white;
  width:50%;
  margin:20px auto;
  border-radius:20px;
  

}
h4 {
  font-size:25px;
}

p {
  width:50%;
  margin:auto;
  padding-bottom:20px;
  text-align:left;
}
/*宿泊地*/
.shukuhakuti {
  margin-bottom:100px;
}
.hotel {
  margin-top:30px;
  background-color: white;
  border-radius:20px;
}
.hotel-wrapper {
  width:50%;
  margin:0px auto;
  
}
.nagaoka-ryokann {
  margin-bottom:50px;
}
/*フッター*/
footer {
  background-color: black;
  color:white;
  width:100%;
  margin-top:80px;
  float:left;
  text-align: left;
}

h5 {
  margin:0;
  padding:10px 0 0 10px;
  font-size:20px;
}
.fa-instagram {
  margin:0;
  font-size:40px;
  padding-top:20px;
  padding-bottom:20px;
  padding-left:10px;
  color:white;
  
}
/*ランダム巡り*/
.dice-wrapper {
  height:100vh;
}
button {
  border-radius:20px;
  padding:0;
  background-color: white;
}
button:focus {
  outline:0;
}
.random-go {
  padding:10px;
  margin-top:25px;
  color:black;
  font-size:30px;
  text-align: center;
  cursor:pointer;
  background-color:white;
}
.result {
  padding-top:10px;
  padding-bottom:10px;
  font-weight: bold;
  font-size:20px;
}
#dice-result {
  text-decoration: none;
  color:black;
  font-size:40px;
  display:none;
  padding:0 10px;
}
.go-to-random {
  text-decoration: none;
}
.dice-wrapper img {
  border-radius: 40px;
  border:4px solid white;
  padding:0;
}

/*質問回答*/
.faq-list {
  width:50%;
  border-radius: 20px;
  height:200px;
  padding:30px;
 
}
.faq {
  margin-top:100px;
  border-top:1px solid black;
}
.faq-list-contents:focus {
  outline:none;
}
.faq-list-contents {
  cursor:pointer;
  width:70%;
  margin-bottom:10px;
  margin-right:auto;
  margin-left:auto;
  border-bottom: 1px solid grey;

}
.plus-minus {
  float:right;
}
.answer {
  display:none;
  padding:0 0 10px 0;
  text-align:left;
}
.question {
  padding:0;
  text-align:left;
  margin-bottom:10px;

}

.upper {
  font-size: 20px;
  background-color: rgba(0,0,0,1);
  width:50px;
  height:50px;
  border-radius:50px;
  position:fixed;
  right:30px;
  bottom:150px;
  margin:0;
}
.fa-sort-up {
  color:white;
  font-size:30px;
  padding-top:15px;

  
}
.modal-fix {
  position:fixed;
}
.list-show {
  display:block;
}
.hide {
  display:none;
}
/*スタート画面*/
.start {
  background-image:url(https://cdn.pixabay.com/photo/2016/05/02/09/45/japan-1366872_960_720.jpg);
  background-size: cover;
  background-blend-mode: hard-light;
  position:fixed;
  top:0;
  bottom:0;
  height:100%;
  width:100%;
  z-index:9000;
}
.start p {
  font-size:100px;
  font-weight: bold;
  color:white;
  text-shadow:3px 3px 3px black;
}
.start-title{
  position:fixed;
  top:0;
  left:0;
  margin:70px auto;
  display:none;
  z-index:9999;
  width:100%;
}
/*縦長サイズの表示*/
@media (orientation:portrait) {
  header {
    height:250px;
  }
  h1 {
    font-size:45px;
  }
  nav {
    display:none;

  }
  .onsen-wrapper {
    display:block;
    margin:0 auto;
  }
  .onsen-wrapper li {
    float: inherit;
    width:100%;
  }
  .onsenn {
    padding-left:10px;
    padding-right:10px;
  }
  
 .cafe-wrapper {
   width:80%;
 }

h4 {
  margin-top:10px;
  margin-bottom:10px;
  font-size:15px;
}
p {
  font-size:10px;
  width:80%;
  padding-bottom:10px;
}

a:hover {
  opacity: inherit;
}
.upper {
  right:10px;
  height:40px;
  width:40px;

}

.hotel-wrapper {
  width:80%;
}
.fa-sort-up {
  padding-top:10px;
  font-size:25px;
}
.menu {
  display:block;
}
.fa-bars {
  color:black;
  position:absolute;
  top:150px;
  right:20px;
  font-size:25px;
}
.menu-contents{
  display:none;
  background-color:rgba(0,0,0,0.8);
  text-align:center;
  position:fixed;
  top:0;
  bottom:0;
  right:0;
  left:0;
  width:100%;
  
}
.fa-times {
  color:white;
  font-size:25px;
  position:absolute;
  top:150px;
  right:20px;

}
.menu-title{
  width:100%;
  margin:20px auto 40px auto;
  color:white;
}
.menu-itiran {
  width:100%;
  margin:0 auto;
}
.menu-itiran a {
  color:white;
}
.menu-list {
 padding-top:20px;
 width:60%;
 margin:0 auto;
}

.start {
  background-image:url(https://cdn.pixabay.com/photo/2019/02/03/04/44/bath-house-3971871_960_720.jpg);
  background-size: cover;
  background-blend-mode: hard-light;

}
.start-title {
  margin:200px auto;
}
.start p {
  font-size:50px;
}

.faq-list {
  width:95%;
  padding:0;
}

.faq-list-contents {
  width:100%;
  margin:0;
}
};
